name: Publish Addon

on:
  push:
    branches: [ main, master ]
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  publish:
    name: Publish Addon
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      matrix:
        arch: ["amd64", "aarch64"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Addon
        uses: home-assistant/builder@master
        with:
          args: |
            --${{ matrix.arch }} \
            --target nostradamus_addon \
            --image "nostradamus-{arch}" \
            --docker-hub ghcr.io/${{ github.repository_owner }}
